<%= render 'tops/masthead' %>
<section class="page-section bg-light" id="drummers">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase"><%= t('.title') %></h2>
      <h3 class="section-subheading text-muted"><%= t('.describe') %></h3>
    </div>
  </div>
  <div class="row">
    <%= render @drummers %>
    <div class="justify-content-center d-flex">
      <%= paginate @drummers, theme: 'bootstrap-5' %>
    </div>
  </div>
</section>

<%= turbo_frame_tag 'drummers-list' %>
