<header class="masthead">
  <div class="container">
    <div class="masthead-subheading"><%= t('tops.index.subtitle') %></div>
    <div class="masthead-heading text-uppercase"><%= t('tops.index.title') %></div>
  </div>
</header>

<section class="page-section bg-light" id="search">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase"><%= t('.title') %></h2>
      <h3 class="section-subheading text-muted"><%= t('.describe') %></h3>
    </div>
    <%= render 'form' %>
    <%= render 'result' %>
  </div>

</section>
