<section class="page-section bg-light" id="drummers">
  <div class="container">
    <div class="team-member">
      <% if @drummer.image_urls.present? %>
        <%= image_tag @drummer.image_urls.first, class: 'rounded-circle' %>
      <% else %>
        <%= image_tag 'no-image.jpg', class: 'rounded-circle' %>
      <% end %>
      <h4><%= @drummer.name %></h4>
      <% @drummer.artists.each do |artist| %>
        <div class="badge bg-info mt-3">
          <%= artist.name %>
        </div>
      <% end %>
      <p class="pt-3"><%= @drummer.profile %></p>
      <div class="text-end">
        <p><%= t('.wikipedia') %></p>
      </div>
    </div>
  </div>
</section>
