<!DOCTYPE html>
  <body>
    <p>
      <%=@user.name%>様
      <br>
      ===============================================
      <br>
      <br>
      <% @site_name %>へのご登録ありがとうございます。<br>
      あなたのログインアドレスは <%= @user.email %>です。<br>
      <br>
      サイトにログインするには、リンクからアカウントを有効にしてください： <a href="<%= @url %>"><%= @url %></a><br>
      <br>
      ご登録ありがとうございます。<br>
      <br>
      ===============================================
    </p>
    <%= @site_name %>: <a href="<%= @site_url %>"><%= @site_url %></a><br>
    <br>
    <p>
      *このメールは自動送信です。返信はできませんのでご了承ください。<br>
      *このメールに心当たりがない場合は、お手数ですが破棄してください。
    </p>
  </body>
</html>
