<%=@user.name%>様
===============================================

<% @site_name %>へのご登録ありがとうございます。<br>
あなたのログインアドレスは <%= @user.email %>です。<br>

サイトにログインするには、リンクからアカウントを有効にしてください： <a href="<%= @url %>"><%= @url %></a><br>
ご登録ありがとうございます。

===============================================
<%= @site_name %>: <%= @site_url %>

*このメールは自動送信です。返信はできませんのでご了承ください。
*このメールに心当たりがない場合は、お手数ですが破棄してください。
