<p>
  <%= @user.name %>様
  <br>
  ====================================
  <br>
  いつもご利用いただき、誠にありがとうございます。
  <br>
  パスワード再発行のご依頼を受け付けました。
  こちらのリンクからパスワードの再発行を行ってください。
  <br>
  <a href="<%= @url %>"><%= @url %></a>
  <br>
  また、ご不明な点があればお問合せよりいつでもご連絡ください。
  <br>
  ====================================
</p>
<p>
  <%= @site_name %>：<a href="<%= @site_url %>"><%= @site_url %></a>
</p>
<br>
<p>※このメールに心当たりのない場合は、お手数ですが破棄してください。</p>
