<%= turbo_frame_tag 'user-edit' do %>
  <p class="text-muted border-bottom border-2">
    <%= User.human_attribute_name(:name) %>
  </p>
  <h5><%= @user.name %></h4>
  <p class="text-muted border-bottom border-2 pt-5"><%= User.human_attribute_name(:profile) %></p>
  <% if @user.profile.present? %>
    <p><%= @user.profile %></p>
  <% else %>
    <p><%= t('.not_profile')%></p>
  <% end %>
<% end %>
