<div id="header">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <%= link_to 'Drummer Tracker', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><%= nav_link_to 'ドラマーを探す', search_drummers_path, anchor: 'search' %></li>
          <li class="nav-item"><%= nav_link_to 'ドラマー一覧', drummers_path, anchor: 'drummers' %></li>
          <li class="nav-item"><%= nav_link_to 'みんなのおすすめ投稿', '#', anchor: 'post' %></li>
          <li class="nav-item"><%= nav_link_to 'おすすめ診断', '#', anchor: 'diagnosis' %></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMypage" data-bs-toggle="dropdown" aria-expanded="false">
              マイページ
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMypage">
              <li class="dropdown-item"><%= link_to 'プロフィール', "#" %></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, data:{ turbo_method: :delete, turbo_confirm: t('defaults.message.logout_confirm') } %></li>
              <li class="dropdown-item"><%= link_to 'サービス', root_path, anchor: 'services' %></li>
              <li class="dropdown-item"><%= link_to 'お問合せ', new_contact_path, anchor: 'contact' %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
