<div class="card pt-5">
  <div class="card-body">
    <div data-controller="reset-form">
      <div class="autocomplete-dropdown pt-2">
        <%= form_with model: @post, data: { turbo_action: :advance } do |f| %>
          <%= f.text_field :tweet, data: { reset_form_target: "tweetField",
                                           action: "input->reset-form#validateForm"},
                                   class: 'border-warning form-control',
                                   placeholder: t('defaults.placeholder_tweet') %>
          <div data-controller="autocomplete" data-autocomplete-url-value="/drummers/autocomplete" role="combobox">
            <%= f.text_field :drummer_id, data: { autocomplete_target: "input",
                                                  reset_form_target: "drummerField",
                                                  action: "input->reset-form#validateForm"},
                                          class: 'border-warning form-control',
                                          placeholder: t('defaults.placeholder_drummer') , 
                                          value: @drummer_name %>
            <%= f.hidden_field :drummer_id, data: { autocomplete_target: "hidden", 
                                                    reset_form_target: "drummerHiddenField" }, 
                                                    value: @drummer_id %>
            <ul class="list-group" data-autocomplete-target="results" data-action="autocomplete#select"></ul>
          </div>

          <div class="error_message pt-3" id='error-messages' data-reset-form-target="errorMessage"></div>

          <div class="d-flex justify-content-start mt-3">
            <%= f.submit t('defaults.to_posts'), class: "btn btn-warning",
                                                 data: { action: "click->reset-form#submitForm",
                                                         reset_form_target: "submitBtn" },
                                                 disabled: true %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

